<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weather forecast</title>
     <link rel="stylesheet" href="/css/style.css">


   <style>
    
    
        

    .weather-logo{
         width: 100px;
        margin-top: 10px;
        margin-left: 100px;
    }


        
    
    .forecast-info{
         width: 300px;
        height: 300px;
        border: none;
        border-radius: 20px;
        background-color: rgb(238, 238, 238);
    }
  
  .forecast-temp{
      text-align: center;

  }
  .forecast-feels-like{
     float: left;
    margin-top: 35px;
    padding-left: 10px;
  }
  .forecast-humidity{
     float: right;
    margin-top: 35px;
    padding-right: 10px;
  }
  
  
  h2{
    text-align: center;
    padding-top: 15px;
    
  }
  .working-content{
    margin-top: -50px;
  }
   </style>
</head>
<body>
  
  {{>header}}

  
  
<div class="working-content">
  <div >
   Name: <input class="user-info" type="text" >
   </div>


   <div>
    Location : <input class="location" type="text" onkeydown="keyEvent(event)">
    </div>

    <div class="get-forecast">
     
    <button  onclick="renderweather()" >Get Forecast</button>
    </div>

    <div >
    <p class="info-user"></p>
    <p class="display-result"></p>
    </div>
    </div>
    </div>
    <script>

        async function renderweather() {
            
            const loc = document.querySelector('.location').value;
            const user = document.querySelector('.user-info').value;
           
           document.querySelector('.location').value = '';

           document.querySelector('.user-info').value = '';


            if(loc === ''){
                
                 document.querySelector('.display-result').innerHTML = 'Please provide the address';
                 document.querySelector('.info-user').innerHTML = '';
            }
            else{
                
           

            document.querySelector('.display-result').innerHTML = 'Please Wait , Your request is processing'
            try{

            
        const response = await fetch(`/weather?address=${loc}`);

        const result = await response.json();

        if(result.error === 'check the url' || 
            result.error === 'something went wrong' || 
            result.error === 'usage_limit_reached'){

                document.querySelector('.display-result').innerHTML = `there is an error of :${result.error}`

            }
        else{
            document.querySelector('.info-user').innerHTML = `
            Hey ${user} Here's your forecast info for ${loc}
            `

            
        
               document.querySelector('.display-result').innerHTML = `
               
               <div class="forecast-info">
               <h2>FORECAST INFO</h2>
               <img class="weather-logo" src="
               /images/weather-logo.png">
               
               <div class="forecast-temp">
               Temperature : ${result.current.temperature} 
               </div>
               
               <div class="forecast-feels-like">
               Feels like : ${result.current.feelslike}
               </div>

               <div class="forecast-humidity">
                Humidity : ${result.current.humidity}
               </div>

               </div>
               `
        }
            }
            catch(error)
            {
             document.querySelector('.display-result').innerHTML = `there is an error of :${error.message}`
              
            }

        

            
            }
            
         }
    
 
    function keyEvent(event){
     if(event.key === "Enter"){
        console.log('hello')
        renderweather()
     }
    }
        
    </script>
    {{>footer}}
</body>
</html>