<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" href="https://static.vecteezy.com/system/resources/previews/043/194/425/non_2x/a-black-and-white-image-of-a-cloud-and-sun-free-vector.jpg">
</head>
<body>
  <div class="main-content">
    {{>header}}
  <h1>{{message}}</h1>
  </div>
  
  {{>footer}}
</body>
</html>