* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
}

body {
    height: 100vh;
    background: #e5e7eb;
}

/* Layout */
.app-layout {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.sidebar {
    width: 240px;
    background: #1f2937;   /* colored sidebar */
}

/* Chat Container (Main content) */
.chat-container {
    flex: 1;
    background: #ffffff;   /* white background */
    display: flex;
    flex-direction: column;
}

/* Header */
.chat-container h1 {
    padding: 16px;
    background: #f3f4f6;
    border-bottom: 1px solid #d1d5db;
    font-size: 18px;
}

/* Messages */
#messages {
    flex: 1;
    padding: 16px;
    overflow-y: auto;
}


/* Form */
form {
    display: flex;
    gap: 10px;
    padding: 12px;
    border-top: 1px solid #d1d5db;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #cbd5f5;
    outline: none;
}

button {
    padding: 10px 14px;
    border-radius: 6px;
    border: none;
    background: #2563eb;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #1d4ed8;
}

/* Location button */
#sendLocation {
    margin: 10px;
    background: #16a34a;
}

#sendLocation:hover {
    background: #15803d;
}
/* Message wrapper */
#messages > div {
   background: #f1f5f9;
    padding: 10px 12px;
    border-radius: 10px;
    margin-bottom: 14px;
    max-width: 70%;
}

/* Username + time row */
#messages div > p:first-child {
    display: flex;
    gap: 8px;
    font-size: 13px;
    margin-bottom: 4px;
}

/* Username */
#messages div > p:first-child span:first-child {
    font-weight: 600;
    color: #111827;
}

/* Time */
#messages div > p:first-child span:last-child {
    font-size: 12px;
    color: #9ca3af; /* light grey */
}

/* Message text */
#messages div > p:last-child {
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 14px;
    color: #111827;
}

/* Location link */
#messages a {
    color: #2563eb;
    text-decoration: none;
    font-weight: 500;
}

/* Send Location button - enabled */
#sendLocation {
    margin: 10px;
    background: #16a34a;
    color: white;
    cursor: pointer;
}

/* Send Location button - disabled */
#sendLocation:disabled {
    background: #9ca3af;  /* grey */
    cursor: not-allowed;
    opacity: 0.8;
}
.centered-form{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    
   
}
.centered-form-box{
    width: auto;
    padding: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);   

}
.join-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}

.join-form button {
    margin-top: 10px;
}
